@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 231 15% 18%;
  --background: 235 14% 15%;
  --primary: 216 8% 38%;
  --primary-foreground: 216 4% 51%;
}

.dark {
  --background: 216 8% 12%;
  --foreground: 213 31% 91%;
}
